---
const { vendors } = Astro.props;
---

<div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
  <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Vendors</h2>
  <div class="grid grid-cols-2 gap-4 lg:col-span-2 lg:grid-cols-4">
    {
      vendors.map((vendor: (typeof vendors)[number]) => (
        <a
          href={vendor.url}
          target="_blank"
          rel="noopener"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-400 px-4 py-2 text-sm text-white transition hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-600 dark:text-primary-200 dark:hover:bg-primary-500 dark:focus-visible:outline-primary-400"
        >
          {vendor.name}

          <svg
            class="ml-1 h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
          </svg>
        </a>
      ))
    }
  </div>
</div>
