<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <dl class="grid gap-6 lg:grid-cols-3">
      <div class="rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
        <dt class="sr-only">Instagram</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="currentColor"
            ><path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Zm-40 80v-560 560Z"
            ></path></svg
          >
          <p class="text-base font-medium">
            <a class="hover:underline" href="https://www.instagram.com/laminardesigns/"
              >laminardesigns</a
            >
          </p>
        </dd>
      </div>

      <div class="rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
        <dt class="sr-only">Discord</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="currentColor"
            ><path
              d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z"
            ></path></svg
          >
          <p class="text-base font-medium">
            <a class="hover:underline" href="https://discordapp.com/users/371698756044849169"
              >laminar.design</a
            >
          </p>
        </dd>
      </div>

      <div class="rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
        <dt class="sr-only">Email</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="currentColor"
            ><path
              d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
            ></path></svg
          >
          <p class="text-base font-medium">contact@laminar.design</p>
        </dd>
      </div>
    </dl>
  </div>
</section>
